html {
    background-color: white;
}
main{ 
    font-family: "Inter";
    font-size: 15px;
    color:hsl(236, 13%, 42%);
}
#sidemenu{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0; 
    overflow-x: hidden;
    transition: 0.5s;
}
#sidemenuShadowArea{
    background-color: hsl(240, 100%, 5%);
    opacity: 50%;
}
#sidemenuContent{
    background-color: white;
}
.closeButton{
    float: right;
    padding-top: 30px;
    padding-right: 10px;
}
.closeButton:hover{
    cursor: pointer;
}
.navigationSelection{ 
    padding-top: 100px;
}
.navigationHeadings{
    color:hsl(240, 100%, 5%);
    display: block;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}
.navigationHeadings:hover{
    color: hsl(35, 77%, 62%);
}
h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: hsl(240, 100%, 5%);
}
.menubar{
    padding-top: 30px;
    margin: auto;
    margin-bottom: 30px;
}
#menuIcon{
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}
#menuIcon:hover{
    cursor: pointer;
}
.displayLinkContainer{ 
    margin-left: 50px;
    margin-top: 15px;
    display: none;
    float: right;
}
.displayLinkText{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    padding-right: 30px;
}
.mainBody{
    display: flex;
    flex-direction: column;
}
.mainHeadlineImage{
    width: 100%;
}
.readmoreButton{
    background-color: hsl(5, 85%, 63%);
    border: none;
    width: 150px;
    color: white; 
    font-weight: bold; 
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.readmoreButton:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.newHeadlines{
    background-color: hsl(240, 100%, 5%);
    padding-left:15px;
    padding-right:15px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 50px;
}
.newHeadlinesHeader2{
    color: hsl(35, 77%, 62%);
    margin-bottom: 0px;
}
.newHeadlinesHeader3, .newHeadlineText{
    color:hsl(36, 100%, 99%); 
}
.newHeadlinesHeader3:hover,.selectorHeader3:hover, .displayLinkText:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer; 
}
.asideArticles{
    border-bottom: solid 2px hsl(236, 13%, 42%);
    padding-top: 15px; 
    padding-bottom: 20px;
}
.asideArticlesBottom{
    padding-top: 15px; 
    padding-bottom: 5px;
}
.storySelector{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.selectorArticles{
    display: flex; 
    flex-direction: row;
    margin-bottom: 40px;
}
.selectorText{
    margin-left: 25px;
    padding-right: 5px;
    font-size: 18px;
}
.selectorImages{
    height: 185px;
}
.selectorHeader2{
    color:hsl(233, 8%, 79%);
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.selectorHeader3{
    margin-top: 15px;
    padding-top: 0px;
    margin-bottom: 10px;
}
p{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 1px;
}
@media (min-width: 970px){
    #menuIcon{
        display: none;
    }
    .displayLinkContainer{
        display: inline;
    }
    .mainBody{
        flex-direction: row;
    }
    .storySelector{
        flex-direction: row;
    }

}
