html {
    background-color: white;
}
main{ 
    font-family: "Inter";
    font-size: 15px;
    color:hsl(236, 13%, 42%);
}
#sidemenu{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0; 
    overflow-x: hidden;
    transition: 0.5s;
}
#sidemenuShadowArea{
    background-color: hsl(240, 100%, 5%);
    opacity: 50%;
}
#sidemenuContent{
    background-color: white;
}
.closeButton{
    float: right;
    padding-top: 30px;
    padding-right: 10px;
}
.closeButton:hover{
    cursor: pointer;
}
.navigationSelection{ 
    padding-top: 100px;
}
.navigationHeadings{
    color:hsl(240, 100%, 5%);
    display: block;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}
.navigationHeadings:hover{
    color: hsl(35, 77%, 62%);
}
h1{
    font-weight: bold;
    font-size: 40px;
    color: hsl(240, 100%, 5%);
    margin-top: 0px;
    margin-bottom: 15px;
}
.menubar{
    padding-top: 30px;
    margin: auto;
    margin-bottom: 30px;
}
#menuIcon{
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}
#menuIcon:hover{
    cursor: pointer;
}
.displayLinkContainer{ 
    margin-top: 15px;
    display: none;
    float: right;
}
.displayLinkText{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    padding-left: 30px;
}
.mainBody{
    display: flex;
    flex-direction: column;
}
.mainHeadlines, .mainHeadlineTextAndButton, .mainHeadlineParagraphAndButton {
    display: flex;
    flex-direction: column; 
}
.mainHeadlineTextAndButton{
    margin-top:20px;
}
.mainHeadlineImage{
    width: 100%;
}
.readmoreButton{
    background-color: hsl(5, 85%, 63%);
    border: none;
    width: 150px;
    color: white; 
    font-weight: bold; 
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.readmoreButton:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}
.newHeadlines{
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    padding-left:15px;
    padding-right:15px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 50px;
}
.newHeadlinesHeader2{
    color: hsl(35, 77%, 62%);
    margin-bottom: 0px;
}
.newHeadlinesHeader3, .newHeadlineText{
    color:hsl(36, 100%, 99%); 
}
.newHeadlineText{
    color : hsl(233, 8%, 79%)
}
.newHeadlinesHeader3:hover,.selectorHeader3:hover, .displayLinkText:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer; 
}
.asideArticles{
    border-bottom: solid 2px hsl(236, 13%, 42%);
    padding-top: 15px; 
    padding-bottom: 20px;
}
.asideArticlesBottom{
    padding-top: 15px; 
    padding-bottom: 5px;
}
.storySelector{
    margin-top: 60px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.selectorArticles{
    display: flex; 
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
}
.selectorText{
    margin-left: 25px;
    padding-right: 5px;
    font-size: 18px;
}
.selectorImages{
    height: 185px;
}
.selectorHeader2{
    color:hsl(233, 8%, 79%);
    margin-top: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.selectorHeader3{
    margin-top: 15px;
    padding-top: 0px;
    margin-bottom: 10px;
}
p{
    margin-top: 0px;
    padding-bottom: 1px;
    line-height: 1.8;
}
@media screen and (min-width: 970px){
    main{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    h1{
        font-size: 50px;
        margin-right:0px;
        padding-right:0px;
        font-weight: 900;
        margin-bottom: 0px;
    }
    #menuIcon{
        display: none;
    }
    .displayLinkContainer{
        display: inline;
    }
    .mainBody{
        flex-direction: row;
    }
    .mainHeadlines{
        width: 75%;
    }
    .mainHeadlineImage{
        content: url(./assets/images/image-web-3-desktop.jpg);
    }
    .mainHeadlineHeader1{
        width: 100%;
        padding-right: 30px;
    }
    .mainHeadlineTextAndButton{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    .mainHeadlineParagraphAndButton{
        width:100%; 
        padding-left: 0px;
        margin-left: 0px;
    }
    .readmoreButton{
        margin-top: 30px;
        width: 200px; 
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .newHeadlines{
        margin-top: 0;
        margin-left: 25px; 
        width: 25%;
    }
    .newHeadlinesHeader2{
        font-size: 30px;
    }
    .selectorArticles{
        width: 100%;
    }
    .storySelector{
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
    }
    p{
        font-size: 14px;
    }
}
